body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: lightgrey;
  padding:20px;
}
body h1{
  text-align: center;
}
body h3{
  text-align: center;
}
a {
  color: #00B7FF;
}
.icecreams {
  display: flex;
  flex: row;
  justify-content: space-around;
}
.icecreams text {
  width: 24.25%;
  text-align: center;
  font-size:1.4em;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.icecreams div {
  width: 24.25%;
  margin-bottom: 5px;
  text-align: center;
}
.icecreams div img {
  border-style: solid;
  border-width: thin;
  border-color: black;
}
.icecreams text h4 {
  border-style: solid;
  border-width: thin;
  border-color: black;
}
